* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "averta cy w10";
}

html,
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}

.container {
  width: 90%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.box {
  width: 200px;
  height: 150px;
  background-color: orange;
  border-radius: 10px;
}
